<div id="menu">
	<ul class="navi">
	<li><span onclick="" class="hand">Home</span></li>
	<li><span onclick="" class="hand">웹 개발/응용</span>
	<ul>
		<li><span onclick=""class="hand">웹 디자인</span></li>
		<li><span onclick=""class="hand">HTML+CSS</span></li>
		<li><span onclick=""class="hand">JQuery</span></li>
		<li><span onclick=""class="hand">웹+모바일</span></li>
	</ul>
          	</li>
	</li><span onclick=""class="hand">게시판</span>
	<ul>
		<li><span onclick=""class="hand">Q&A</span></li>
		<li><span onclick=""class="hand">방명록</span></li>
</ul>
</li>
<li><span onclick=""class="hand">프로필</span></li>
</ul>
</div>
